## PARTE II - Transformação Dados ENADE

In [ ]:
#importação de Bibliotecas
import pandas as pd
import numpy as np 
import os

In [2]:
# Cria dataframe com mais memória devido ao tamanho do arquivo
enade = pd.read_csv(
    './enade2019/3.DADOS/microdados_enade_2019.txt',
    sep = ';' , decimal=',' , low_memory=False
)

## Buscar informações das colunas após análise do dicionário de dados junto com o dataset

In [5]:
# Analisa a coluna Nota Geral
enade.NT_GER.describe()
enade.

count     390138
unique       899
top         38,3
freq        1037
Name: NT_GER, dtype: object

In [7]:
#Contar os Nulos
enade.NT_GER.isnull().sum()

43792

In [14]:
#Verifica percentual de Nulos em relaçõ ao total
(enade.NT_GER.isnull().sum() / enade.shape[0]) * 100

10.091950314566866

In [24]:
#Verificar percentual da região Nordeste .loc -> Filtra
(enade.loc[
    enade.CO_REGIAO_CURSO == 2
].NT_GER.isnull().sum() / enade.shape[0]) * 100

2.027515958795197

In [31]:
#Verificar percentual por Idade
(enade.loc[
    (enade.NU_IDADE >= 20) & (enade.NU_IDADE <= 50) 
].NT_GER.isnull().sum() / enade.shape[0]) * 100

9.923029059986634

In [33]:
#Tabela Cruzada - Contar quantos homens e mulheres tem no dataset
(enade.TP_SEXO.value_counts() / enade.shape[0] ) * 100

F    53.759593
M    46.240407
Name: TP_SEXO, dtype: float64

In [39]:
#Compara de notas por regiões
enade[['NT_GER','NT_FG','NT_CE']].describe()

        NT_GER   NT_FG   NT_CE
count   390138  390138  390138
unique     899     715     942
top       38,3    25,7    29,8
freq      1037    7547    2640

## Verificando o que publico e privado

In [51]:
#Cria coluna DESC_PUBLICA e Filtra os alunos de faculdades Privadas
enade['DESC_PUBLICA'] = ' '
enade.loc[
    enade.CO_CATEGAD.isin([118,120,121,10005,10006,10007,10008,10009,17634]),
    "DESC_PUBLICA"
] = 'Privado'

In [52]:
#Filtra os alunos de faculdades Públicas
enade.loc[
    enade.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]),
    "DESC_PUBLICA"
] = 'Publico'

In [56]:
#Mostra comparativos/percentuais
enade.DESC_PUBLICA.value_counts() / enade.shape[0] * 100

Privado    76.712603
Publico    23.268960
            0.018436
Name: DESC_PUBLICA, dtype: float64

In [62]:
#Tratando Modalidade
enade['CO_MODALIDADE'] = enade.CO_MODALIDADE.replace({
    0 : 'Ead',
    1 : 'Presencial'
})

In [63]:
enade.CO_MODALIDADE.value_counts() / enade.shape[0] * 100

Presencial    94.610191
Ead            5.389809
Name: CO_MODALIDADE, dtype: float64

In [64]:
#Transformando as Regiões
enade['CO_REGIAO_CURSO'] = enade.CO_REGIAO_CURSO.replace({
    1 : 'Norte',
    2 : 'Nordeste',
    3 : 'Sudeste',
    4 : 'Sul',
    5 : 'Centro Oeste'
})
enade.CO_REGIAO_CURSO.value_counts() / enade.shape[0] * 100

Sudeste         46.667665
Nordeste        21.142120
Sul             17.695942
Centro Oeste     7.879612
Norte            6.614661
Name: CO_REGIAO_CURSO, dtype: float64

In [65]:
#Transformando Raças/Cor
enade['DESC_COR'] = enade.QE_I02.replace({
    'A' : 'Branca',
    'B' : 'Preta',
    'C' : 'Amarela',
    'D' : 'Parda',
    'E' : 'Indigena',
    'F' : pd.NA,
    ' ' : pd.NA
})
enade.DESC_COR.value_counts() / enade.shape[0] * 100

Branca      50.788376
Parda       31.288457
Preta        7.574724
Amarela      2.325951
Indigena     0.299587
Name: DESC_COR, dtype: float64

# Extraindo Insights

###  Média geral dos Alunos do Nordeste?

In [74]:
enade.loc[
    enade.CO_REGIAO_CURSO == 'Nordeste',
    "NT_GER"
].mean()

TypeError: can only concatenate str (not "int") to str